body {
  background-color: #000;
  color: white;
  text-align: center;
  font-family: sans-serif;
  padding: 50px;
}

button {
  padding: 12px 25px;
  font-size: 18px;
  background-color: #e91e63;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.firework {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  pointer-events: none;
}

.firework.active {
  animation: boom 1s ease-out forwards;
}

@keyframes boom {
  0% {
    transform: translate(-50%, -50%) scale(0);
    box-shadow: none;
    opacity: 0,8;
  }
  100% {
    transform: translate(-50%, -50%) scale(25);
    box-shadow:
      0 0 8px red,
      0 0 16px yellow,
      0 0 24px cyan,
      0 0 32px lime,
      0 0 40px blue;
    opacity: 0;
  }
}
