body {
    background-color: #121212;
    color: #8fb1e0;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    color: #1b02fc;
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}

/* Klassen */
.highlight {
    background-color: #e0ae0caf;
    padding: 6px;
    border-radius: 5px;
}

.info {
    color: #c3edfda9;
    font-style: italic;
}
